MONGODB_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
REVALIDATE_TOKEN=CHANGEME_STRONG_TOKEN
BLOB_READ_WRITE_TOKEN=CHANGEME_BLOB_TOKEN
# Optional fallback
# DATABASE_URI=
